<!-- views/partials/footer.ejs -->
 <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/icon-logo.png" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Add Products</a></li>
          <li><a class="text-muted" href="#">Modify Products</a></li>
          <li><a class="text-muted" href="#">Delete Products</a></li>
          <li><a class="text-muted" href="#">Manage Dashboard</a></li>          
          <li><a class="text-muted" href="#">Manage Clients and users</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Bootstrap</a></li>
          <li><a class="text-muted" href="#">Jquery</a></li>
          <li><a class="text-muted" href="#">Fontawesome</a></li>
          <li><a class="text-muted" href="#">Flaticon</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>