<!-- views/partials/header.ejs -->

  <nav class="navbar navbar-expand-lg navbar-light bg-warning px-4 fixed-top border-bottom shadow-sm">
  <a class="navbar-brand  text-light" href="/"><h3><img src="/assets/logo.png" alt="Aadharbhoot Pasal"></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 px-3 h4 ">
      <li class="nav-item active">
        <a class="nav-link text-white font-weight-bold  pr-5" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link btn btn btn-outline-light mr-2" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn btn-outline-light mr-2" href="/products/add">Add Products</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light mr-2 " href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light mr-3 " href="/users/login">Login</a>
      </li>
       
    </ul>
  </div>
</nav>
   