<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head%>
</head>

<body>
  <header>
    <% include ./partials/header%>
  </header>
  <main role="main" class=" mt-4">
    <div class="container text-center mt-4 p-3">
      <h1 class="mt-4">Welcome to <a href="/" class="item text-decoration-none ">Aadharbhoot Pasal.</a></h1>
      <h4>An approach to help people.</h4>
    </div>

    <div class="container-fluid">
      <div class='product-list mt-2 '>
        <h1 class="m-1 p-3 text-center display-4"><u>List of Products</u></h1>
        <div class="row p-3 d-flex justify-content-center">
          <div class="col-sm-12 col-md-4 col-6 col-lg-3 p-2 m-1 border border-danger rounded text-center">
            <span class="display-2 text-danger"><i class="fab fa-adobe"></i></span>
            <h3>Buy Adobe</h3>
            <h4>Price:$40/m</h4>
            <button type="button" class="btn btn-info py-2 px-4">Buy Now</button>
          </div>

          <div class="col-sm-12 col-md-4 col-6 col-lg-3 p-2 m-1 border border-danger rounded text-center">
            <span class="display-2 text-danger"><i class="fab fa-adobe"></i></span>
            <h3>Buy Adobe</h3>
            <h4>Price:$40/m</h4>
            <button type="button" class="btn btn-info py-2 px-4">Buy Now</button>
          </div>

          <div class="col-sm-12 col-md-4 col-6 col-lg-3 p-2 m-1 border border-danger rounded text-center">
            <span class="display-2 text-danger"><i class="fab fa-adobe"></i></span>
            <h3>Buy Adobe</h3>
            <h4>Price:$40/m</h4>
            <button type="button" class="btn btn-info py-2 px-4">Buy Now</button>
          </div>


        </div>

      </div>

    </div>



    <footer class="pt-4 my-md-5 pt-md-5 border-top text-left">
      <% include ./partials/footer %>
    </footer>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>